{% extends "base.html" %}

{% block title %}Roman Kalyakin{% endblock %}
{% block description %}Roman Kalyakin. Sofware engineer.{% endblock %}

{% block page_id %}computers{% endblock %}

{% block body %}
<div itemscope itemtype="http://schema.org/Person">
	<header>
		<h1 itemprop="name">Roman Kalyakin</h1>
		<meta itemprop="jobTitle" content="Software engineer"/>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="addressLocality" content="Brisbane" />
			<meta itemprop="addressRegion"  content="Australia" />
		</div>
	</header>
	<article>
		<p>
			I have developed numerous software products ranging from large scale multi-tier systems to startup MVPs. Passion for complex systems design, service oriented architecture, APIs, HTML5 and Multimedia.
		</p>
		<p>See my <em>code</em> on <a href="{{personal.links.github}}" alt="Roman Kalyakin on GitHub">GitHub</a> and <em>CV</em> <a href="/cv">here</a>.</p>
		</ul>
	</article>
	<footer>
		{% include "personal_links.html" %}
	</footer>
</div>
{% endblock %}
