{% extends "base.html" %}

{% block title %}Roman Kalyakin{% endblock %}
{% block description %}Roman Kalyakin. Sofware engineer.{% endblock %}

{% block page_id %}computers{% endblock %}

{% block body %}
<div itemscope itemtype="http://schema.org/Person">
	<header>
		<h1 itemprop="name">Roman Kalyakin</h1>
		<meta itemprop="jobTitle" content="Software engineer"/>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="addressLocality" content="Brisbane" />
			<meta itemprop="addressRegion"  content="Australia" />
		</div>
	</header>
	<article>
		<ul>
			<li>I create <em>rich web applications</em>, <em>APIs</em> and <em>backends</em>.</li>
			<li>I use <em>Python</em>, <em>Javascript</em>, <em>NoSQL</em> and <a href="{{personal.links.cv}}" alt="Roman Kalyakin CV">a dozen of other technologies</a>.</li>
			<li>I built 
				{% for name,link in personal.projects.items() %}
				<a href="{{link}}">{{name}}</a>{% if not loop.last %},{% endif %}
				{% endfor %}
				and can build <em>great software</em> for <em>you</em>.
			</li>
			<li>See my <em>code</em> on <a href="{{personal.links.github}}" alt="Roman Kalyakin on GitHub">GitHub</a> and <em>CV</em> on <a href="{{personal.links.cv}}">Careers</a>.</li>
		</ul>
	</article>
	<footer>
		{% include "personal_links.html" %}
	</footer>
</div>
{% endblock %}
