<ul>
	<li><a href="{{personal.links.github}}" target="_blank"><img src="/static/img/social/github.png" alt="Github"/></a></li>
	<li><a href="{{personal.links.linkedin}}" target="_blank"><img src="/static/img/social/linkedin.png" alt="Linked In"/></a></li>
	<li><a href="{{personal.links.twitter}}" target="_blank"><img src="/static/img/social/twitter.png" alt="Twitter"/></a></li>
	<li><a href="mailto:{{personal.links.email}}" target="_blank" title="{{personal.links.email}}"><img src="/static/img/social/email.png" alt="Email"/></a></li>
	<li><a href="callto:{{personal.links.telephone.replace(' ','')}}" target="_blank" title="{{personal.links.telephone}}"><img src="/static/img/social/telephone.png" alt="Telephone"/></a></li>
</ul>
